<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Моя первая страница</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Average_score</th>
        </tr>
        {% for item in context %}
        <tr> 
            <td>{{item.name}}</td>
            <td>{{item.surname}}</td>
            <td>{{item.age}}</td>
            <td>{{item.average_score}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>